<a href="/admin/courses"><button class="btn btn-dark">Cursos</button></a>
<a href="/admin/categories"><button class="btn btn-success">Categorias</button></a>
<a href="/admin/users"><button class="btn btn-danger">Usuários</button></a>
<hr>